<div class="container mt-4">
  <h1>Our Products</h1>
  <header class="mb-2 d-lg-none bg-teal-300 rounded-corners p-4 mb-4">
    <button mat-flat-button color="accent">
      <mat-icon>tune</mat-icon>
      Filter And Sort
    </button>

    <mat-chip-listbox class="mt-2">
      <mat-chip>Clothes</mat-chip>
      <mat-chip>T-Shirts</mat-chip>
      <mat-chip>Cheapest</mat-chip>
    </mat-chip-listbox>
  </header>
  <div class="row">
    <div class="col-lg-4 d-none d-lg-block">
      <app-filter (change)="getProducts($event)"></app-filter>
    </div>
    <div class="col-lg-8">
      <div class="bored-ninja" *ngIf="products.length == 0">
        <h1 class="py-4 fg-teal text-center"><b>No items found</b></h1>
        <div class="d-flex justify-content-center">
          <img src="../../../../../assets/bored-ninja.png" alt="" />
        </div>
      </div>

      <app-horizontal-cards [products]="products"></app-horizontal-cards>
      <div class="d-flex gap-20 mb-4" *ngIf="products.length > 0">
        <button
          mat-flat-button
          color="primary"
          (click)="goPrev()"
          [disabled]="!params.after || hasNextLoading"
        >
          Prev
        </button>
        <button
          mat-flat-button
          color="primary"
          (click)="paginate(false)"
          [disabled]="!hasNext"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</div>
