<div class="container mt-4">
  <h1>Our Products</h1>
  <div class="row">
    <div class="col-lg-4">
      <app-filter (change)="getProducts($event)"></app-filter>
    </div>
    <div class="col-lg-8">
      <div class="bored-ninja" *ngIf="products.length == 0">
        <h1 class="py-4 fg-teal text-center"><b>No items found</b></h1>
        <div class="d-flex justify-content-center">
          <img src="../../../../../assets/bored-ninja.png" alt="" />
        </div>
      </div>

      <app-horizontal-cards [products]="products"></app-horizontal-cards>
      <div class="d-flex gap-20 mb-4" *ngIf="products.length > 0">
        <button
          mat-flat-button
          color="primary"
          (click)="goPrev()"
          [disabled]="!params.after || hasNextLoading"
        >
          Prev</button
        >
        <button
          mat-flat-button
          color="primary"
          (click)="paginate(false)"
          [disabled]="!hasNext"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</div>
