<h1 mat-dialog-title class="mb-0">Upload artwork</h1>
<mat-dialog-content class="full-screen-dialog-content">
  <div class='d-flex gap-20' >
    <button mat-flat-button color="primary" class='mb-4' (click)="fileInput.click()" *ngIf="!data.viewOnly">Upload</button>
    <button mat-flat-button color="primary" class='mb-4' (click)="saveCanvasView()" *ngIf="!data.viewOnly" [disabled]="imageQualityScore < 75">Save</button>
    <button mat-flat-button color="warn" class='mb-4' mat-dialog-close>{{data.viewOnly ? 'Close' : 'Cancel'}}</button>
    <input type="file" (change)="handleFileInput($event)" class='d-none' #fileInput >
  </div>
  <app-image-quality-meter [score]="imageQualityScore"></app-image-quality-meter>

  <div class="canvas-container-scrollable">
    <app-image-canvas-position
    [imgSrc]="data.printingInfo.printingPosition.images?.[0]?.link"
    [canvasPositionInfo]="data.printingInfo.printingPosition.canvasPositionInfo"
    [displayMode]="true"
  ></app-image-canvas-position>
  </div>
</mat-dialog-content>


