<h1 mat-dialog-title class="mb-0">
  {{ imageQualityScore > 0 ? "Change" : "Upload" }} artwork
</h1>
<mat-dialog-content class="full-screen-dialog-content">
  <div class="d-flex justify-content-space-between">
    <div>
      <button
        mat-flat-button
        color="primary"
        (click)="fileInput.click()"
        *ngIf="!data.viewOnly"
      >
        <mat-icon>upload</mat-icon>
        {{ imageQualityScore > 0 ? "Change" : "Upload" }} Image</button
      >&nbsp;
      <button
        mat-flat-button
        color="primary"
        (click)="saveCanvasView()"
        *ngIf="!data.viewOnly"
        [disabled]="!canvasImageRef"
      >
        <mat-icon>save</mat-icon>
        Save
      </button>
    </div>
    <button mat-mini-fab color="warn" class="close-btn" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
    <input
      type="file"
      (change)="handleFileInput($event)"
      #fileInput
      accept="image/*"
      hidden
    />
  </div>

  <div class="my-2">
    <app-info-text
      type="error"
      text="The uploaded image is low quality, may not result on the best quality print."
      *ngIf="imageQualityScore < 90 && canvasImageRef"
    ></app-info-text>
    <app-info-text
      text="Click on image to resize, move and rotate."
      *ngIf="!data.viewOnly"
    ></app-info-text>
    <app-info-text
      text="Swipe left and right to fully view your canvas."
      class="d-md-none"
      *ngIf="!data.viewOnly"
    ></app-info-text>
    <app-info-text
      text="Get the best experience on a larger screen."
      class="d-md-none"
    ></app-info-text>
  </div>

  <div class="mb-2 d-flex justify-content-space-between" *ngIf="!data.viewOnly">
    <div>
      <button
        mat-mini-fab
        (click)="centerVertically()"
        matTooltip="Center vertically"
        color="basic"
      >
        <mat-icon>vertical_align_center</mat-icon>
      </button>
      <button
        mat-mini-fab
        color="basic"
        (click)="centerHorizontal()"
        matTooltip="Center horizontally"
      >
        <mat-icon class="rotate-90">vertical_align_center</mat-icon>
      </button>
    </div>
    <div class="size">
      <button
        mat-mini-fab
        color="basic"
        (click)="enlargeImage()"
        matTooltip="Enlarge image"
      >
        <mat-icon>add</mat-icon>
      </button>
      <button
        mat-mini-fab
        color="basic"
        (click)="decreaseImage()"
        matTooltip="Shrink image"
      >
        <mat-icon>remove</mat-icon>
      </button>
    </div>
    <div class="movement">
      <button
        mat-mini-fab
        color="basic"
        (click)="moveImage('up')"
        matTooltip="Move up"
      >
        <mat-icon>arrow_upward</mat-icon>
      </button>
      <button
        mat-mini-fab
        color="basic"
        (click)="moveImage('down')"
        matTooltip="Move down"
      >
        <mat-icon>arrow_downward</mat-icon>
      </button>
      <button
        mat-mini-fab
        color="basic"
        (click)="moveImage('left')"
        matTooltip="Move left"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button
        mat-mini-fab
        color="basic"
        (click)="moveImage('right')"
        matTooltip="Move right"
      >
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
    <div class="rotation">
      <button
        mat-mini-fab
        color="basic"
        (click)="rotateImage('left')"
        matTooltip="Rotate left"
      >
        <mat-icon>rotate_left</mat-icon>
      </button>
      <button
        mat-mini-fab
        color="basic"
        (click)="rotateImage('right')"
        matTooltip="Rotate right"
      >
        <mat-icon>rotate_right</mat-icon>
      </button>
    </div>
    <button
      mat-mini-fab
      color="accent"
      (click)="resetEdits()"
      matTooltip="Reset edits"
    >
      <mat-icon>restart_alt</mat-icon>
    </button>
  </div>

  <div class="canvas-container-scrollable">
    <app-image-canvas-position
      [imgSrc]="data.printingInfo.printingPosition.images?.[0]?.link"
      [canvasPositionInfo]="
        data.printingInfo.printingPosition.canvasPositionInfo
      "
      [displayMode]="true"
    ></app-image-canvas-position>
  </div>

  <div class="d-flex justify-content-space-between d-sm-none mt-3">
    <div>
      <button
        mat-flat-button
        color="primary"
        class="mb-4"
        (click)="fileInput.click()"
        *ngIf="!data.viewOnly"
      >
        <mat-icon>upload</mat-icon>
        {{ imageQualityScore > 0 ? "Change" : "Upload" }} Image</button
      >&nbsp;
      <button
        mat-flat-button
        color="primary"
        class="mb-4"
        (click)="saveCanvasView()"
        *ngIf="!data.viewOnly"
        [disabled]="imageQualityScore < 80"
      >
        <mat-icon>save</mat-icon>
        Save
      </button>
    </div>
    <input
      type="file"
      (change)="handleFileInput($event)"
      class="d-none"
      #fileInput
      accept="image/*"
    />
  </div>
</mat-dialog-content>
