::ng-deep .custom-dialog-container mat-dialog-container {
    max-width: 90vw;
    max-height: 90vh;

    mat-dialog-content {
        max-height: initial;
    }
}

.canvas-container-scrollable {
    overflow: auto;
}