<mat-card class="rounded-corners">
  <mat-card-content class="bg-teal-100 rounded-corners">
    <section>
      <header class="p-3 d-flex align-items-center">
        <div>
          <h4 class="m-0 fg-teal-800 d-flex align-items-center">
            <mat-icon>tune</mat-icon>&nbsp;<span>Filter and Sort</span>
          </h4>
          <h4 class="m-0 pb-0">
            Sort
            By:&nbsp;<button
              mat-flat-button
              color="accent"
              [matMenuTriggerFor]="sortMenu"
            >
              <mat-icon>expand_more</mat-icon>
              {{ filter.sort?.name || "No Sort" }}
            </button>
          </h4>

          <mat-menu #sortMenu>
            <button
              mat-menu-item
              *ngFor="let sortOption of sortOptions"
              (click)="setSort(sortOption)"
            >
              {{ sortOption.name }}
            </button>
          </mat-menu>
        </div>
      </header>
      <main class="p-2">
        <mat-accordion>
          <mat-expansion-panel
            expanded
            class="mat-elevation-z0 rounded-corners mb-2"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>Price Range&nbsp;&nbsp;
                <div
                  class="clear-filter-pill bg-red fg-white rounded-corners cursor"
                  *ngIf="selectedPriceRange.length > 0"
                  (click)='clearFilter($event, "selectedPriceRange")'
                >
                  clear filter
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="bg-white rounded-corners mb-2 price-range">
              <div class="list-box scroll-bar-custom">
                <mat-selection-list
                  (selectionChange)="selectPriceRange()"
                  [(ngModel)]="selectedPriceRange"
                  [multiple]="false"
                >
                  <mat-list-option
                    *ngFor="let range of priceRanges"
                    [value]="range.name"
                  >
                    {{ range.name }}
                  </mat-list-option>
                </mat-selection-list>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel
            expanded
            class="mat-elevation-z0 rounded-corners mb-2"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>Category&nbsp;&nbsp;
                <div
                  class="clear-filter-pill bg-red fg-white rounded-corners cursor"
                  *ngIf="filter.category.length > 0"
                  (click)='clearFilter($event, "category")'
                >
                  clear filter
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="list-box scroll-bar-custom">
              <mat-selection-list
                (selectionChange)="selectedCategories()"
                [(ngModel)]="filter.category"
                [multiple]="false"
              >
                <mat-list-option
                  *ngFor="let category of categories"
                  [value]="category.id"
                >
                  {{ category.name }}
                </mat-list-option>
              </mat-selection-list>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel class="mat-elevation-z0 rounded-corners mb-2">
            <mat-expansion-panel-header>
              <mat-panel-title
                >Sub Categories&nbsp;&nbsp;
                <div
                  class="clear-filter-pill bg-red fg-white rounded-corners cursor"
                  *ngIf="filter.subCategory.length > 0"
                  (click)="clearFilter($event, 'subCategory')"
                >
                  clear filter
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p *ngIf="!subsLoading && filter.category?.length == 0">
              Select categories first
            </p>
            <p
              class="pl-4"
              *ngIf="subCategories.length == 0 && filter.category.length > 0"
            >
              -- No Sub-categories --
            </p>
            <mat-progress-bar
              *ngIf="subsLoading"
              mode="indeterminate"
            ></mat-progress-bar>

            <div class="list-box scroll-bar-custom">
              <mat-selection-list
                [(ngModel)]="filter.subCategory"
                [multiple]="false"
              >
                <mat-list-option
                  *ngFor="let subCategory of subCategories"
                  [value]="subCategory.id"
                >
                  {{ subCategory.name }}
                </mat-list-option>
              </mat-selection-list>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel class="mat-elevation-z0 rounded-corners mb-2">
            <mat-expansion-panel-header>
              <mat-panel-title
                >Brands &nbsp;&nbsp;

                <div
                  class="clear-filter-pill bg-red fg-white rounded-corners cursor"
                  *ngIf="filter.brand.length > 0"
                  (click)="clearFilter($event, 'brand')"
                >
                  clear filter
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="list-box scroll-bar-custom">
              <mat-selection-list [(ngModel)]="filter.brand" [multiple]="false">
                <mat-list-option
                  *ngFor="let brand of brands"
                  [value]="brand.id"
                >
                  {{ brand.name }}
                </mat-list-option>
              </mat-selection-list>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </main>
    </section>
    <button
      mat-flat-button
      color="primary"
      class="mx-2"
      (click)="applyFilters()"
    >
      Apply Filters & Sort
    </button>
  </mat-card-content>
</mat-card>
