<div class='container mt-4'>
  <h1>
    Categories
    <button mat-mini-fab color="primary" routerLink="/category/add">
      <mat-icon>add</mat-icon>
    </button>
  </h1>
  <mat-card class="mb-4 mat-elevation-z8">
    <div class="row p-4">
      <div class="col-md-4">
        <p>Sort By</p>
        <mat-form-field>
          <mat-select [(ngModel)]="sortBy" name="sort" placeholder="Sort by">
            <mat-option value="name">Name</mat-option>
            <mat-option value="createdAt">Date Created</mat-option>
            <mat-option value="updatedAt">Date Updated</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-checkbox [(ngModel)]="ascending">Ascending</mat-checkbox>
      </div>
      <div class="col-md-4">
        <p>Filter By</p>
        <mat-form-field>
          <mat-select [(ngModel)]="filter.active" name="filter" placeholder="Status">
            <mat-option>--</mat-option>
            <mat-option [value]="true">Active</mat-option>
            <mat-option [value]="false">Disabled</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <p>Per Page</p>
        <mat-form-field>
          <input matInput [(ngModel)]="perpage" name="perpage" type="number" min="1" /> </mat-form-field>&nbsp;
        <button mat-mini-fab color="primary" (click)="paginate()">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
    </div>
  </mat-card>
  <table mat-table [dataSource]="categories" class="mat-elevation-z8">
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <ng-container matColumnDef="Image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let element">
        <a mat-flat-button color="accent" *ngIf="element.images?.[0]" [href]="element.images?.[0]?.link"
          target='_blank'>See</a>
        <span *ngIf="!element.images?.[0]">No image yet</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        <span class='fg-red' *ngIf="!element.active">Disabled</span>
        <span class='fg-green' *ngIf="element.active">Active</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="Created At">
      <th mat-header-cell *matHeaderCellDef>Created At</th>
      <td mat-cell *matCellDef="let element">
        <div class='d-flex align-items-center'>
          <mat-icon>calendar_month</mat-icon>
          {{
          utilService.formatDate(
          element?.createdAt?.toDate(),
          "DD/MM/YYYY - HH:mm"
          )
          }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="Updated At">
      <th mat-header-cell *matHeaderCellDef>Updated At</th>
      <td mat-cell *matCellDef="let element">
        <div class='d-flex align-items-center'><mat-icon>calendar_month</mat-icon>
          {{
          utilService.formatDate(
          element?.updatedAt?.toDate(),
          "DD/MM/YYYY - HH:mm"
          )
          }}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab [color]="element.active ? 'primary' : 'warn'" (click)="toggleStatus(element)"
          [title]="element.active ? 'disable category' : 'activate category'">
          <mat-icon *ngIf="element.active">toggle_on</mat-icon>
          <mat-icon *ngIf="!element.active">toggle_off</mat-icon>
        </button>&nbsp;
        <button mat-mini-fab color="primary" [routerLink]="'/category/edit/'+element.id"
          title='edit category'><mat-icon>edit</mat-icon></button>&nbsp;
        <button mat-mini-fab color="primary" title='view category' [routerLink]="'/sub-category/view/' + element.id">
          <mat-icon>visibility</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div class="py-4">
    <button mat-flat-button color="primary" (click)="goPrev()" [disabled]="!params.after">Prev</button>&nbsp;
    <button mat-flat-button color="primary" (click)="paginate(false)" [disabled]="!hasNext">
      Next
    </button>
  </div>

</div>
