<section>
  <h1>Choose your printing methods</h1>

  <div class="col-lg-6 col-md-8 col-sm-12">
    <div
      *ngFor="let m of methods"
      class="bg-mint-green mt-2 p-4 gap-20 d-flex align-items-center rounded-corners"
    >
      <h2 class="fg-grey-800 m-0 p-0">{{ m.printingPosition.name }}</h2>
      <button mat-flat-button color="primary" (click)="openY(m.methods)">Choose method</button>
    </div>
  </div>

  <footer class="gap-20 d-flex mt-4">
    <button mat-flat-button color="primary">Save and continue</button>
    <button mat-flat-button color="accent">Back</button>
  </footer>
</section>
