<section>
  <h1 class="d-flex align-items-center fg-grey-900">
    <mat-icon>brush</mat-icon>&nbsp;Printing Methods
  </h1>

  <div class="col-lg-8 col-md-12 col-sm-12">
    <div
      *ngFor="let info of printingInfo"
      class="bg-mint-green mt-2 p-3 gap-10 d-flex align-items-center rounded-corners"
    >
      <p class="fg-grey-800 m-0 p-0">{{ info.printingPosition.name }}</p>
      <mat-chip  *ngIf="info.selectedMethod">
        <b class="d-md-none">{{ info.selectedMethod.shortName }}</b>
        <b class="d-none d-md-inline">{{ info.selectedMethod.name }}</b>
      </mat-chip>
      <button mat-flat-button color="primary" (click)="chooseMethod(info)">
        {{ !info.selectedMethod?.name ? "Choose" : "Change" }} method
      </button>
    </div>
  </div>

  <footer class="mt-4">
    <div class="mb-2">
      <app-info-text
        type="warning"
        text="Please select printing methods with which you would like to print."
        *ngIf="!validated"
      ></app-info-text>
    </div>
    <button
      mat-flat-button
      color="primary"
      (click)="savePrintingInfo()"
      [disabled]="!validated"
    >
      Save and continue
    </button>
  </footer>
</section>
