<div class="container mt-4">
  <h1>{{ edit ? "Edit" : "Add" }} Printing Method</h1>

  <div class="row">
    <div class="col-lg-6 col-md-7">
      <form (submit)="submit()" autocomplete="off">

            <mat-form-field class="w-100">
              <mat-label>Name</mat-label>
              <input
                name="pm_name"
                matInput
                placeholder="Ex. Screen Printing"
                [(ngModel)]="printingMethod.name"
              />
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>Short Name</mat-label>
              <input
                name="pm_name"
                matInput
                placeholder="Ex. SP"
                [(ngModel)]="printingMethod.shortName"
              />
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>Description</mat-label>
              <textarea
                name="pm_desc"
                matInput
                [(ngModel)]="printingMethod.description"
              ></textarea>
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>Cost per square inch</mat-label>
              <input
                name="pm_c"
                type="number"
                matInput
                placeholder="Ex. [numberOfColors] * (perColorCost) * [quantity]"
                [(ngModel)]="printingMethod.costPerSquareInch"
              />
            </mat-form-field>

        <div class="mb-3">
          Insert image new
          <input
            (change)="selectImage($event)"
            type="file"
            name="pm_image"
            id=""
          />
        </div>
        <button mat-flat-button color="primary">
          {{ edit ? "Update" : "Create" }}
        </button>
      </form>
    </div>
    <div class="col-lg-6 col-md-5">
      <div
        *ngIf="edit && printingMethod.images?.[0]"
        class="bg-teal-100 p-4 mb-4 current-image"
      >
        <h3>Current image</h3>
        <img [src]="printingMethod.images[0].link" alt="Current" />
      </div>
    </div>
  </div>
</div>
