<section>
  <h1 class="d-flex align-items-center fg-grey-900">
    <mat-icon>format_shapes</mat-icon>&nbsp;Printing Locations
  </h1>

  <app-image-card-options-selection
    [options]="options"
    (changeEvent)="updatedSelectedPrintingLocations($event)"
  >
  </app-image-card-options-selection>

  <footer class="mt-4">
    <div class="mb-2">
      <app-info-text
        type="warning"
        text="Please select atleast one area where you would like to print."
        *ngIf="!selectedOptions.length"
      ></app-info-text>
    </div>
    <button
      mat-flat-button
      color="primary"
      [disabled]="!selectedOptions.length"
      (click)="goToNextPage()"
    >
      Save and Continue
    </button>
  </footer>
</section>
