<div class="bg-teal-300">
  <header class="container py-3">
    <section class="row">
      <div class="col-lg-8 col-md-12 col-sm-12">
        <h1 class="fg-grey-100"><b>Print it in a jiffy!</b></h1>
        <h1 class="fg-white font-weight-bolder">
          Your ideas <span class="fg-yellow">ink-spire</span> us, to print the
          best quality!
        </h1>
        <button mat-flat-button routerLink="/catalogue" class="bg-teal fg-yellow">Explore Our Catalogue!</button>

        <div class="py-4 categories-container">
          <div class="col-md-12 col-lg-8">
            <div class="">
              <div class="d-flex flex-wrap cat-box-list">
                <div
                  class="cat-main-box"
                  *ngFor="let category of categories"
                  [matTooltip]="category.name"
                  [routerLink]="['/catalogue']"
                  [queryParams]="{category: category.id}"
                >
                  <div class="bg-mint-green cat-box rounded-corners">
                    <img [src]="category?.images?.[0]?.link" alt="" />
                  </div>
                </div>
              </div>

              <div class="d-flex flex-wrap cat-box-list" *ngIf="categories.length == 0">
                <div
                  class="cat-main-box"
                  *ngFor="let i of [1,2,3,4,5]"
                >
                  <div class="loading-block square cat-box">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 fg-white d-lg-block d-none">
        <h2 class="fg-yellow">Quick and Easy process</h2>
        <div class="steps d-flex flex-wrap fg-white process">
          <div class="step bg-yellow-200 fg-grey-800">
            <div>
              <div><mat-icon>coffee</mat-icon></div>
              <h3>Select an Item</h3>
            </div>
          </div>
          <div class="step bg-teal fg-white">
            <div>
              <div>
                <mat-icon class="fg-white">upload</mat-icon>
              </div>
              <h3>Upload your design</h3>
            </div>
          </div>
          <div class="step bg-teal-200">
            <div>
              <div><mat-icon class="mat-18 fg-white">credit_card</mat-icon></div>
              <h3>Checkout with secure payment</h3>
            </div>
          </div>
          <div class="step bg-green-300">
            <div>
              <mat-icon>local_shipping</mat-icon>
              <h3>Receive your cool printed design!</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
  </header>
</div>
