<section >
  <h1 class="d-flex align-items-center fg-grey-900">
    <mat-icon>widgets</mat-icon>&nbsp;Quantities
  </h1>
  <form action="" *ngIf="subVariations">
    <div class="row">
      <div *ngFor="let opt of subVariations" class="col-md-6 col-lg-4">
        <mat-form-field class="w-100">
          <mat-label>
            {{ opt.name }}
          </mat-label>
          <input
            matInput
            type="number"
            [disabled]="opt.quantityAvailable <= 0"
            [name]="'quantity-for-' + opt.name"
            [(ngModel)]="optionQuantities[opt.name].quantities"
            [max]='opt.quantityAvailable'
            (keyup)="validate()"
          />
          <mat-hint
            >additional cost:
            <b class='fg-teal-300'>
              {{ opt.additionalCost ? "R " + opt.additionalCost : "None" }}
            </b>
            - available:
            <b class="fg-teal-300">{{ opt.quantityAvailable }}</b></mat-hint
          >
        </mat-form-field>
      </div>
    </div>


  </form>

  <!-- Quantity for: no sub variations, but we have variations -->
  <form *ngIf="!subVariations && product.variations.options.length">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="w-100">
          <mat-label>
            Quantity
          </mat-label>
          <input
            matInput
            type="number"
            [disabled]="product.variations.options[chosenVariationIndex].quantityAvailable <= 0"
            name="quantity-for-x"
            [(ngModel)]="totalQuantity"
            [max]='product.variations.options[chosenVariationIndex].quantityAvailable'
            (keyup)="validate()"
          />

        </mat-form-field>
      </div>
    </div>
  </form>

  <!-- Quantity for: no sub variations and variations -->
  <form *ngIf="!subVariations && !product.variations.options.length">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="w-100">
          <mat-label>
            Quantity
          </mat-label>
          <input
            matInput
            type="number"
            [disabled]="product.quantity <= 0"
            name="quantity-for-x"
            [(ngModel)]="totalQuantity"
            [max]='product.quantity'
            (keyup)="validate()"
          />

        </mat-form-field>
      </div>
    </div>
  </form>

  <footer class="mt-4">
      <button matStepperNext mat-flat-button color="primary" (click)="saveQuantities()" class="" [disabled]="!validated" >Save and Continue</button>
    </footer>
</section>
