<mat-card
  class="rounded-corners cursor product-card"
  [routerLink]="'/products/' + product.name + '/' + product.id"
>
  <mat-card-content class="rounded-corners">
   <div class="d-flex justify-content-center align-items-center image-container">
     <img
      class="rounded-corners"
      [src]="product.images?.[0]?.link"
      alt=""

    />
   </div>
    <h2 class="fg-teal-300 pt-2 pb-0 mb-2">{{ product.name }}</h2>
    <div class="colors-block d-flex" *ngIf="product.variations.options.length">
      <h4 class="m-0 p-0 fg-teal">Colors:</h4>
      <div
        class="color-circle"
        *ngFor="let c of product.variations.options"
        [matTooltip]="c.name"
        [ngStyle]="{ backgroundColor: c.optionColor }"
      ></div>
    </div>
    <div class="d-flex">
      <h3
        class="fg-white p-2 mb-0 bg-teal mt-2 d-inline-block rounded-corners"
      >
        From R {{ product.price }}
      </h3>
    </div>
  </mat-card-content>
</mat-card>
