<mat-card
  class="rounded-corners cursor product-card h-100"
  [routerLink]="'/products/' + product.name + '/' + product.id"
>
  <mat-card-content class="rounded-corners">
   <div class="d-flex justify-content-center align-items-center image-container">
     <img
      class="rounded-corners"
      [src]="product.images?.[0]?.link"
      alt=""

    />
   </div>
    <h3 class="fg-grey-800 pt-2 pb-0 mb-2">{{ product.name }}</h3>
    <div class="colors-block d-flex" *ngIf="product.variations.options.length">
      <span><i class="fg-grey-600">*available in multiple colors</i></span>
    </div>
    <div class="d-flex">
      <h3 class="d-inline my-0 fg-teal d-flex align-items-center mt-2">
        <small>from</small>&nbsp;<b>R {{ product.price }}</b>
      </h3>
    </div>
  </mat-card-content>
</mat-card>
