.image-cont {
  aspect-ratio: 1/1 !important;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  img {
    max-width: 100%;
  }
  .canvas {
    position: absolute;
  }
  span {
    font-size: 11px;
  }
}
