    <form class="row" [formGroup]="addressForm" autocomplete="off">
        <div class="col-11">
            <div class="col-8">
                <mat-form-field class="d-block">
                    <mat-label>Street address</mat-label>
                    <input name="pp_name" matInput formControlName="streetAddress"/>
                    <mat-error *ngIf="addressForm.controls['streetAddress'].hasError('required')">Required</mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-6">
                    <mat-form-field class="d-block">
                        <mat-label>Suburb</mat-label>
                        <input name="pp_name" matInput formControlName="suburb" />
                    </mat-form-field>
        
                    
                </div>
                <div class="col-lg-4 col-md-6 col-6">
                    <mat-form-field class="d-block">
                        <mat-label>City / Town</mat-label>
                        <input name="pp_name" matInput formControlName="city"  />
                    <mat-error *ngIf="addressForm.controls['city'].hasError('required')">Required</mat-error>

                    </mat-form-field>
        
                    
                </div>
                <div class="col-lg-4 col-md-6 col-6">
                    <mat-form-field class="d-block">
                        <mat-label>Province</mat-label>
                        <mat-select formControlName="province" [value]="provinces[0]" name="province">
                            @for (province of provinces; track province) {
                                <mat-option [value]="province">{{province}}</mat-option>
                            }
                        </mat-select>
                    <mat-error *ngIf="addressForm.controls['province'].hasError('required')">Required</mat-error>

                    </mat-form-field>
                </div>

                <div class="col-lg-4 col-md-6 col-6">
                    <mat-form-field class="d-block">
                        <mat-label>Building name</mat-label>
                        <input name="pp_name" matInput formControlName="buildingName"  />
                        
                    </mat-form-field>
                </div>

                <div class="col-6 col-md-3 col-lg-3">
                    <mat-form-field class="d-block">
                        <mat-label>Postal Code</mat-label>
                        <input name="pp_name" matInput formControlName="postalCode"  />
                    <mat-error *ngIf="addressForm.controls['postalCode'].hasError('required')">Required</mat-error>

                    </mat-form-field>
                </div>

                <div class="col-12" *ngIf="deliveryAddress">
                    <mat-form-field class="d-block">
                        <mat-label>Delivery notes</mat-label>
                        <textarea matInput rows="3" formControlName="deliveryNotes"></textarea>
                        
                    </mat-form-field>
                </div>
            </div>

        </div>
    </form>