<h1 mat-dialog-title class='mb-0'>Choose printing method</h1>
<div matDialogContent>
  <app-image-card-options-selection></app-image-card-options-selection>


    <mat-selection-list [multiple]="false" [(ngModel)]="methodSelected">
      <mat-list-option *ngFor="let m of data?.printingInfo.methods" [value]="m">
        <h3 matListItemTitle>{{ m.name }}</h3>
        <p matListItemLine class='m-0 p-0 fg-teal'>
          {{ m.description }}
        </p>
        <p matListItemLine class='m-0 mt-2'>
          <span class='bg-mint-green p-2 fg-grey-900'><b>R15</b> per unit</span>
        </p>
      </mat-list-option>
    </mat-selection-list>

    <footer class='d-flex gap-20 mt-4'>
      <button mat-flat-button color='primary' [disabled]="methodSelected.length == 0" [matDialogClose]='methodSelected'>Save</button>
      <button mat-flat-button mat-dialog-close>Close</button>
    </footer>
</div>
