<div>
  <form>
    <mat-form-field class="w-100">
      <mat-label>Name</mat-label>
      <input name='variation-name' type='text' matInput [(ngModel)]="variation.name" />
    </mat-form-field>

    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Options
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div>
          <div *ngFor="let opt of variation.options">
            <mat-card class='p-4 mb-4'>
              <app-variation-option-form [option]="opt"></app-variation-option-form>
              <div>
                <button type='button' mat-flat-button color="warn" (click)="removeOption(opt)">Remove Option</button>
              </div>
            </mat-card>
          </div>


          <mat-card class='p-4 mb-4'>
            <app-variation-option-form [option]="option"></app-variation-option-form>
            <div>
              <button type='button' mat-flat-button color="primary" (click)="addOption()">Add Option</button>
            </div>
          </mat-card>

        </div>
      </mat-expansion-panel>
    </mat-accordion>


  </form>
</div>