<mat-drawer-container class="example-container" hasBackdrop op>
  <mat-drawer #drawer mode="over"> ff </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <div class="container">
        <mat-toolbar-row class="px-0 mx-0">
          <!-- <div class="container"> -->
          <button
            mat-icon-button
            (click)="drawer.toggle()"
            color="primary"
            class="d-md-none"
          >
            <mat-icon>menu</mat-icon>
          </button>
          <span class="fg-teal cursor" routerLink="/">Kustom Kreations</span>
          <span class="example-spacer"></span>

          <div class="align-items-center gap-20">
            <button mat-flat-button color="primary" routerLink="/catalogue" class="d-none  d-md-inline d-lg-inline">
              Our Catalogue
            </button>
            <button mat-flat-button color="primary" routerLink="/contact" class="d-none  d-md-inline d-lg-inline">
              Contact Us
            </button>
            <button mat-flat-button color="primary" routerLink="/about-us" class="d-none  d-md-inline d-lg-inline">
              About Us
            </button>
            <button
              mat-icon-button
              color="primary"
              aria-label="Example icon-button with heart icon"
              routerLink="/shopping-cart"
            >
              <mat-icon>shopping_cart</mat-icon>
            </button>
          </div>
          <!-- </div> -->
        </mat-toolbar-row>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
