<section class="container mt-4">
  <h1 *ngIf="product">Customize: {{ product.name }}</h1>
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-3" *ngIf="product">
          <h2 class="fg-teal-400 mt-0 p-4 rounded-corners bg-white">
            Cost so far:&nbsp;<b>R&nbsp;{{ totalPrice.toFixed(2) }}</b>
          </h2>
    </div>
  </div>

  <mat-stepper #stepper [linear]="!editMode || linearSteps" *ngIf="!!product" [selectedIndex]="0" [orientation]="vertical ? 'vertical' : 'horizontal'">
    <mat-step label="Quantities" [completed]="stepsCompleted.quantities">
      <app-product-quantities
        (quantityChanged)="setQuantities($event)"
        [product]="product"
        [totalQuantity]="totalQuantity"
        [chosenVariationId]="selectedVariantId"
        [optionQuantities]="quantities"
        *ngIf="!!product"
      ></app-product-quantities>
    </mat-step>
    <mat-step label="Printing Locations" *ngIf="product?.name" [completed]="stepsCompleted.locations">
      <app-select-customization-positions
        (positionsChanged)="setPrintingInfoForLocations($event)"
        [product]="product"
        [selectedOptions]="selectedPrintingLocations"
      ></app-select-customization-positions>
    </mat-step>
    <mat-step label="Printing Methods" [completed]="stepsCompleted.methods">
      <app-select-custom-printing-methods
        *ngIf="printingInfo.length > 0"
        [product]="product"
        [printingInfo]="printingInfo"
        (change)="setPrintingInfoForMethods($event)"
      ></app-select-custom-printing-methods>
    </mat-step>

    <mat-step label="Upload Artwork" [completed]="stepsCompleted.artwork">
      <app-upload-artwork
        *ngIf="printingInfo.length > 0"
        [printingInfo]="printingInfo"
        (change)="setPrintingInfoArtwork($event)"
      ></app-upload-artwork>
    </mat-step>
    <mat-step label="Summary" [completed]="stepsCompleted.summary">
      <h1 class="d-flex align-items-center fg-grey-900">
        <mat-icon>widgets</mat-icon>&nbsp; Summary
      </h1>
      <app-summary-view [totalQuantity]="totalQuantity" [costBreakDown]="costBreakdown" [printingInfoArr]="printingInfo" [quantities]="quantities"></app-summary-view>
      <button
        mat-flat-button
        color="primary"
        class="mt-4"
        (click)="submitCartItem()"
      >
        {{ editMode ? "Update" : "Add to Cart" }}
      </button>
    </mat-step>
  </mat-stepper>

  <div *ngIf="!product">
    <div class="col-md-3 col-12 loading-block sentence mb-3"></div>
  <div class="col-md-3 col-12 loading-block sentence mb-3"></div>
  <div class="col-12 loading-block ultra-wide"></div>
  </div>
</section>
