<section class="container mt-4">
  <h1>Customize: {{ product?.name }}</h1>
  <div class="row">
    <div class="col-md-6 col-lg-3 col-sm-8">
      <app-color-variant-selector
        *ngIf="product?.variations?.options?.length"
        [options]="product.variations.options"
        [selectedVariantId]="selectedVariantId"
        [readonly]="true"
      ></app-color-variant-selector>
    </div>
    <div class="col-lg-3 col-md-4 mb-4" *ngIf="totalPrice > 0">
      <mat-card class="rounded-corners h-100">
        <mat-card-content
          class="bg-teal-100 rounded-corners h-100 d-flex align-items-center"
        >
          <h2 class="fg-green-700">
            Cost so far: <b>R {{ totalPrice }}</b>
          </h2>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <mat-stepper #stepper [linear]="!editMode" *ngIf="!!product" [selectedIndex]="0">
    <mat-step label="Quantities" [completed]="stepsCompleted.quantities">
      <app-product-quantities
        (quantityChanged)="setQuantities($event)"
        [product]="product"
        [totalQuantity]="totalQuantity"
        [chosenVariationId]="selectedVariantId"
        [optionQuantities]="quantities"
        *ngIf="!!product"
      ></app-product-quantities>
    </mat-step>
    <mat-step label="Printing Locations" *ngIf="product?.name" [completed]="stepsCompleted.locations">
      <app-select-customization-positions
        (positionsChanged)="setPrintingInfoForLocations($event)"
        [product]="product"
        [selectedOptions]="selectedPrintingLocations"
      ></app-select-customization-positions>
    </mat-step>
    <mat-step label="Printing Methods" [completed]="stepsCompleted.methods">
      <app-select-custom-printing-methods
        *ngIf="printingInfo.length > 0"
        [product]="product"
        [printingInfo]="printingInfo"
        (change)="setPrintingInfoForMethods($event)"
      ></app-select-custom-printing-methods>
    </mat-step>

    <mat-step label="Upload Artwork" [completed]="stepsCompleted.artwork">
      <app-upload-artwork
        *ngIf="printingInfo.length > 0"
        [printingInfo]="printingInfo"
        (change)="setPrintingInfoArtwork($event)"
      ></app-upload-artwork>
    </mat-step>
    <mat-step label="Summary" [completed]="stepsCompleted.summary">
      <app-cost-breakdown [costBreakdown]="costBreakdown"></app-cost-breakdown>
      <button
        mat-flat-button
        color="primary"
        class="mt-4"
        (click)="submitCartItem()"
      >
        {{ editMode ? "Update" : "Add to Cart" }}
      </button>
    </mat-step>
  </mat-stepper>
</section>
