<section>
  <h1 class="d-flex align-items-center fg-grey-900">
    <mat-icon>cloud_upload</mat-icon>&nbsp;Upload artwork
  </h1>

  <div class="col-lg-8 col-md-12 col-sm-12">
    <div
      *ngFor="let info of printingInfo"
      class="bg-mint-green mt-2 p-3 gap-20 d-flex align-items-center rounded-corners"
    >
      <p class="fg-grey-800 m-0 p-0">{{ info.printingPosition.name }}</p>
      <div>
        <button mat-mini-fab color="primary" (click)="uploadArt(info)">
          <mat-icon>{{ !info?.artwork ? "upload" : "edit" }}</mat-icon>
        </button>&nbsp;
        <button
          mat-mini-fab
          color="primary"
          *ngIf="info?.artwork"
          (click)="uploadArt(info, true)"
        >
          <mat-icon>visibility</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <footer class="mt-4">
    <div class="mb-2">
      <app-info-text
        type="warning"
        text="Please upload artwork for all printing locations selected."
        *ngIf="!validated"
      ></app-info-text>
    </div>
    <button mat-flat-button color="primary" (click)="saveArtWork()" [disabled]="!validated">
      Save and continue
    </button>
  </footer>
</section>
