<section>
  <h1 class='d-flex align-items-center fg-grey-900'><mat-icon>cloud_upload</mat-icon>&nbsp;Upload artwork</h1>

  <div class="col-lg-6 col-md-8 col-sm-12">
    <div
      *ngFor="let info of printingInfo"
      class="bg-mint-green mt-2 p-4 gap-20 d-flex align-items-center rounded-corners"
    >
    <h3 class="fg-grey-800 m-0 p-0">{{ info.printingPosition.name }}</h3>
    <h3 *ngIf="info.selectedMethod" class="m-0 fg-teal-800 p-0 d-flex align-items-center"><mat-icon>check_box</mat-icon><b>{{info.selectedMethod.name}}</b></h3>
    <button mat-flat-button color="primary" (click)="uploadArt(info)">{{!info?.artWork ? 'Upload' : 'Change'}} Artwork</button>
    </div>
  </div>

  <footer class="gap-20 d-flex mt-4">
    <button mat-flat-button color="primary" matStepperNext>Save and continue</button>
    <button mat-flat-button color="accent" matStepperPrevious>Back</button>
  </footer>
</section>
