footer {
  display: flex;
  gap: 20px;
  .image-cube {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    width: 80px;
    background-size: contain;
    box-sizing: border-box;
    img {
      max-width: 100%;
    }
  }

  .selected {
    border: var(--mint-green) solid 3px;
  }
}

.image-container {
  width: 100%;
  position: relative;
  aspect-ratio: 1/1 !important;
  box-sizing: border-box;
  img {
    max-width: 100%;
  }
  .fullscreen-btn {
    position: absolute;
    right: 10px;
    bottom: 15px;
  }
}

section {
}
