<aside>
  <h2 class="fg-grey-800">Find Categories</h2>

  <div class="list-box scroll-bar-custom">
    <div
      class="cursor rounded-corners bg-mint-green fg grey-800 py-3 px-4 mb-2 category"
      *ngFor="let category of categories"
      [routerLink]="['/catalogue']"
      [queryParams]="{ category: category.id }"
    >
      <h3 class="m-0">{{ category.name }}</h3>
    </div>
    <div class="loading-placeholder" *ngIf="categories.length == 0">
      <div
      class="loading-block sentence mb-4"
      *ngFor="let i of [1,2,3,4,5]"
    >
    </div>
    </div>
  </div>
</aside>
