/* You can add global styles to this file, and also import other style files */
:root {
  --mint-green: #99edc3;
}

html,
body {
  height: 100%;
  background-color: #fafafa;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.danger {
  background-color: #f44336 !important;
  color: white;
}
.success {
  background-color: #4caf50 !important;
  color: white;
}
.cursor {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", sans-serif;
  font-weight: 250;
  color: #2d2d2d;
}

.bg-mint-green {
  background-color: #99edc3;
}

.fg-mint-green {
  color: #99edc3;
}

.fg-mint-green-darker {
  color: #36dd8a;
}

.rounded-corners {
  border-radius: 10px !important;
}

.scroll-bar-custom::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.scroll-bar-custom::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.scroll-bar-custom::-webkit-scrollbar-thumb {
  background-color: var(--mint-green);
  outline: 1px solid slategrey;
  border-radius: 2px;
}

.current-image img {
  max-width: 400px;
  max-height: 400px;
}

.gap-20 {
  gap: 20px;
}

.gap-15 {
  gap: 15px;
}

.gap-10 {
  gap: 10px;
}

.container {
  box-sizing: border-box;
}

.loading-block { 
  background-color: #ccc;
  animation: pulse 2s infinite;
  border-radius: 10px;

  &.portrait {
    aspect-ratio: 2/3;
  }

  &.square {
    aspect-ratio: 1/1;
  }

  &.sentence {
    height: 50px;
  }

  &.ultra-wide {
    aspect-ratio: 32/9;
  }
  

  @keyframes pulse {
    0% {
      transform: scale(1);
      background-color: #ccc;
    }
    50% {
      background-color: #999;
    }
    100% {
      transform: scale(1);
      background-color: #ccc;
    }
  }
}

.flex-wrap {
  flex-wrap: wrap
}

.justify-content-space-between {
  justify-content: space-between;
}

.rotate-90 {
  transform: rotate(90deg);
}

.text-tiny {
  font-size: 11px;
}

.teal-100-border {
  border: 2px solid #b2dfdb;
}

.vertical-divider {
  width: 10px;
  height: 100% !important;
  border-radius: 5px;
  background-color: #2d2d2d;
  display: inline-block;
}

.canvas-outline {
  box-shadow: 0 0 0 1px white;
  outline: dashed 1px #0db199;

  &:not(.display) {
    background-color: #ffffff;
  }

  h3 {
    color: #0db199;
    font-weight: 500;
    padding: 3px;
    background-color: #ffffff;
  }
}