/* You can add global styles to this file, and also import other style files */
:root {
  --mint-green: #99edc3;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.danger{background-color:#f44336 !important; color: white}
.success{background-color:#4caf50 !important; color: white}
.cursor {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Comfortaa', cursive !important;
  font-weight: 500;
}

.bg-mint-green {
  background-color: #99edc3;
}

.fg-mint-green {
  color: #99edc3;
}

.fg-mint-green-darker {
  color: #36dd8a;
}

.rounded-corners {
  border-radius: 10px !important;
}

.scroll-bar-custom::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.scroll-bar-custom::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.scroll-bar-custom::-webkit-scrollbar-thumb {
  background-color: var(--mint-green);
  outline: 1px solid slategrey;
  border-radius: 2px;
}

.current-image img {
  max-width: 400px;
  max-height: 400px;
}

.gap-20 {
  gap: 20px;
}
