<div class="container">
  <h1 class="mt-4">Secure Checkout</h1>

  <div class="row">
    <div class="col-lg-8 my-3">
      <!-- <mat-stepper [linear]="true" orientation="vertical" class="bg-teal-50 rounded-corners">
                <mat-step label="Contact & personal information">
                    <h3>Contact & Personal info</h3>
                    <app-personal-info
                        [contacDetailsAndPersonalDetails]="contactInfoAndPersonalInfoForm"></app-personal-info>
                </mat-step>
                <mat-step label="Business information">
                    <h3>Business Info</h3>
                    <app-business-info [businessInfoForm]="businessInfoForm"></app-business-info>
                </mat-step>
                <mat-step label="Delivery address">
                    <h3>Delivery Address</h3>
                    <app-delivery-address [addressForm]="deliveryAddressForm"></app-delivery-address>
                </mat-step>
                <mat-step label="Billing address">
                    <h3>Billing Address</h3>
                    <div class="p-2 bg-white rounded-corners d-inline-block mb-3">
                        <mat-checkbox [(ngModel)]="billingAddressSameAsDelivery">Same as delivery</mat-checkbox>
                    </div>
                    <app-delivery-address [addressForm]="billingAddressForm"
                        *ngIf="!billingAddressSameAsDelivery"></app-delivery-address>
                </mat-step>
            </mat-stepper> -->

      <app-fancy-card [small]="true">
        <h3>Contact & Personal info</h3>
        <app-personal-info
          [contacDetailsAndPersonalDetails]="contactInfoAndPersonalInfoForm"
        ></app-personal-info>
        <div class="p-2 bg-teal-50 rounded-corners d-inline-block mb-3">
          <mat-checkbox [(ngModel)]="saveMyDetailsForNextPurchase"
            >Save my details for next purchase</mat-checkbox
          >
        </div>

        <h3>Business Info</h3>
        <div class="p-2 bg-teal-50 rounded-corners d-inline-block mb-3">
          <mat-checkbox [(ngModel)]="notRegisteredBusiness"
            >Not a registered business</mat-checkbox
          >
        </div>
        <app-business-info
          [businessInfoForm]="businessInfoForm"
          *ngIf="!notRegisteredBusiness"
        ></app-business-info>

        <h3>Delivery Address</h3>
        <app-delivery-address
          [addressForm]="deliveryAddressForm"
        ></app-delivery-address>

        <h3>Billing Address</h3>
        <div class="p-2 bg-teal-50 rounded-corners d-inline-block mb-3">
          <mat-checkbox
            [(ngModel)]="billingAddressSameAsDelivery"
            (change)="sameAddressAsDelivery($event)"
            >Same as delivery</mat-checkbox
          >
        </div>
        <app-delivery-address
          [addressForm]="billingAddressForm"
          *ngIf="!billingAddressSameAsDelivery"
        ></app-delivery-address>
      </app-fancy-card>
    </div>
    <div class="col-lg-4 mt-3">
      <h1 class="mt-0 pt-0">Order Summary</h1>

      <div
        *ngFor="let item of items"
        class="cart-item-card bg-teal-100 p-4 mb-4 rounded-corners"
      >
        <h4 class="mt-0 mb-3 fg-grey-900">
          <b>{{ item.product?.name }}</b>
        </h4>
        <mat-basic-chip-row class="my-3">
          <mat-chip>{{ item.totalQuantity }} units</mat-chip>
          <mat-chip
            >Branding R{{
              item.costBreakdown.brandingCosts.totalCost.toFixed(2)
            }}</mat-chip
          >
          <mat-chip
            >Base Cost R{{
              item.costBreakdown.totalProductBaseCost.toFixed(2)
            }}</mat-chip
          >
        </mat-basic-chip-row>
        <div class="d-flex align-items-center mt-3">
          <h4 class="my-0">
            Total:
            <b class="fg-green-800 bg-white p-2"
              >R&nbsp;{{ item.totalPrice.toFixed(2) }}</b
            >
          </h4>
        </div>
      </div>
      <div class="p-4 bg-white rounded-corners">
        <table>
          <tbody>
            <tr>
              <td>Sub-Total</td>
              <td>
                <mat-chip color="primary">R {{ subTotal }}</mat-chip>
              </td>
            </tr>
            <tr>
              <td>Delivery Fee</td>
              <td>
                <mat-chip color="primary">R {{ deliveryFee }}</mat-chip>
              </td>
            </tr>
            <tr>
              <td>VAT</td>
              <td>
                <mat-chip>R {{ vat }}</mat-chip>
              </td>
            </tr>
            <tr>
              <td>Total</td>
              <td>
                <mat-chip>R {{ total }}</mat-chip>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="rounded-corners cursor px-4 py-2 mt-4 text-center bg-teal"
        (click)="checkout()"
      >
        <h2 class="fg-white"><b>Secure Checkout</b></h2>
      </div>
    </div>
  </div>
</div>
