<div class="container">
  <h1>Secure Checkout</h1>

  @if (user?.isAnonymous) {
    <app-info-text
      text="You are currently checking out as a guest. Please note that you will not be able to repeat this order in the future if you proceed without logging in."
    ></app-info-text>
    <button
      mat-flat-button
      class="mt-2"
      color="primary"
      (click)="loginOrRegister()"
    >
      Quick Login/Register
    </button>
  }
  
  <div class="row">
    <div class="col-lg-8 my-2">
      <app-fancy-card [small]="true">
        <h3>Contact & Personal info</h3>
        <app-personal-info
          [contacDetailsAndPersonalDetails]="contactInfoAndPersonalInfoForm"
        ></app-personal-info>

        <h3>Business Info</h3>
        <div class="p-2 bg-teal-50 rounded-corners d-inline-block mb-3">
          <mat-checkbox
            [(ngModel)]="notRegisteredBusiness"
            (change)="applyRequiredValidators(notRegisteredBusiness)"
            >Not a registered business</mat-checkbox
          >
        </div>
        <app-business-info
          [businessInfoForm]="businessInfoForm"
          *ngIf="!notRegisteredBusiness"
        ></app-business-info>

        <h3>Delivery Address</h3>
        <app-delivery-address
          [addressForm]="deliveryAddressForm"
          [deliveryAddress]="true"
        ></app-delivery-address>

        <h3>Billing Address</h3>
        <div class="p-2 bg-teal-50 rounded-corners d-inline-block mb-3">
          <mat-checkbox
            [(ngModel)]="billingAddressSameAsDelivery"
            (change)="sameAddressAsDelivery($event)"
            >Same as delivery</mat-checkbox
          >
        </div>
        <app-delivery-address
          [addressForm]="billingAddressForm"
          [deliveryAddress]="false"
          *ngIf="!billingAddressSameAsDelivery"
        ></app-delivery-address>
      </app-fancy-card>
    </div>
    <div class="col-lg-4 mt-3">
      <h1 class="mt-0 pt-0">Order Summary</h1>

      <div
        *ngFor="let item of items"
        class="cart-item-card bg-teal-100 p-4 mb-4 rounded-corners"
      >
        <h4 class="mt-0 mb-3 fg-grey-900">
          {{ item.product?.name }}
        </h4>
        <div class="d-flex gap-10 flex-wrap">
          <mat-chip>{{ item.totalQuantity }} units</mat-chip>
          <mat-chip
            >Branding R{{
              item.costBreakdown.brandingCosts.totalCost.toFixed(2)
            }}</mat-chip
          >
          <mat-chip
            >Base Cost R{{
              item.costBreakdown.totalProductBaseCost.toFixed(2)
            }}</mat-chip
          >
        </div>
        <div class="d-flex align-items-center mt-3">
          <h4 class="my-0">
            Total:
            <span class="fg-green-800 bg-white p-2">
              R&nbsp;{{ item.totalPrice.toFixed(2) }}
            </span>
          </h4>
        </div>
      </div>

      <div *ngIf="initialLoad">
        <div class="loading-block sentence sentence mb-3"></div>
        <div class="loading-block sentence sentence mb-3"></div>
      </div>

      <div class="loading-block ultra-wide" *ngIf="initialLoad"></div>

      <div class="p-4 bg-white rounded-corners" *ngIf="!initialLoad">
        <table>
          <tbody>
            <tr>
              <td>Sub-Total</td>
              <td>
                <mat-chip color="primary">R {{ subTotal }}</mat-chip>
              </td>
            </tr>
            <tr>
              <td>Delivery Fee</td>
              <td>
                <mat-chip color="primary">R {{ deliveryFee }}</mat-chip>
              </td>
            </tr>
            <tr>
              <td>VAT</td>
              <td>
                <mat-chip>R {{ vat }}</mat-chip>
              </td>
            </tr>
            <tr>
              <td><h1 class="my-0 py-0">Total</h1></td>
              <td>
                <h1 class="my-0 py-0">R&nbsp;{{ total }}</h1>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button
        class="rounded-corners cursor px-4 py-2 mt-4 text-center bg-teal"
        (click)="checkout()"
      >
        <h2 class="fg-white">Secure Checkout</h2>
      </button>
    </div>
  </div>
</div>
