<div class="bg-teal-300">
  <header class="container py-5">
    <section class="row">
      <div class="col-md-6">
        <h1 class='fg-grey-100'>Print it in a jiffy!</h1>
        <h1 class='fg-white font-weight-bolder'>Your ideas <span class='fg-yellow'>ink-spire</span> us, to print the best quality!</h1>
        <button mat-flat-button class='bg-white'>Explore!</button>
      </div>

      <div class="col-md-12 py-3 categories-container">
        <!-- <div *ngFor='let coords of coordsArr' [ngStyle]="{top: coords.top, left: coords.left, position: 'relative', display: 'inline-block'}">
      b
    </div> -->

        <div class="row">
          <div class="col-md-6">
            <div class="py-5">
              <div class="mb-4 d-flex">
                <div class="bg-blue-100 cat-box">
                  <img src="/assets/icons/cap.svg" alt="" />
                </div>
                <div class="bg-blue-100 cat-box">
                  <img src="https://picsum.photos/50" alt="" />
                </div>
                <div class="bg-blue-100 cat-box">
                  <img src="https://picsum.photos/50" alt="" />
                </div>
                <div class="bg-blue-100 cat-box">
                  <img src="https://picsum.photos/50" alt="" />
                </div>
                <div class="bg-blue-100 cat-box">
                  <img src="https://picsum.photos/50" alt="" />
                </div>
                <div class="bg-blue-100 cat-box">
                  <img src="https://picsum.photos/50" alt="" />
                </div>
                <div class="bg-blue-100 cat-box">
                  <img src="https://picsum.photos/50" alt="" />
                </div>
                <div class="bg-blue-100 cat-box">
                  <img src="https://picsum.photos/50" alt="" />
                </div>
              </div>
              <div class="d-flex">
                <div class="bg-blue-100 cat-box">
                  <img src="https://picsum.photos/50" alt="" />
                </div>
                <div class="bg-blue-100 cat-box">
                  <img src="https://picsum.photos/50" alt="" />
                </div>
                <div class="bg-blue-100 cat-box">
                  <img src="https://picsum.photos/50" alt="" />
                </div>
                <div class="bg-blue-100 cat-box">
                  <img src="https://picsum.photos/50" alt="" />
                </div>
                <div class="bg-blue-100 cat-box">
                  <img src="https://picsum.photos/50" alt="" />
                </div>
              </div>


            </div>
          </div>

        </div>
      </div>
    </section>
  </header>
</div>
