<section>
  <app-banner [categories]="categories"></app-banner>
  <div class="container mt-4 pb-4">
    <div class="row">
      <div class="col-lg-3 d-none d-lg-block">
        <app-categories-list [categories]="categories"></app-categories-list>
      </div>
      <div class="col-lg-9">
        
        <app-horizontal-cards heading="Best selling items you can print on!" [products]="bestSellingProducts" [loading]="loading"></app-horizontal-cards>
        <app-horizontal-cards heading="Latest arrivals for you to print on!" [products]="newestProducts" [loading]="loading"></app-horizontal-cards>
      </div>
    </div>
  </div>
</section>
