<form autocomplete="off" [formGroup]="resetForm" (submit)="onRegister()">
    <div class="row">
        <div class="col-lg-6 col-md-8">
            <h4>Reset password</h4>

            <mat-form-field class="d-block">
                <mat-label>Email</mat-label>
                <input name="login_email" type="email" matInput placeholder="mike@cooltech.co.za"
                    formControlName="email" />

                <mat-error
                    *ngIf="resetForm.controls['email'].hasError('email') && !resetForm.controls['email'].hasError('required')">Invalid
                    email address</mat-error>
                <mat-error *ngIf="resetForm.controls['email'].hasError('required')">Required</mat-error>
            </mat-form-field>

            <button mat-flat-button color="primary" [disabled]="!resetForm.valid" type="submit">
                Reset password
            </button>

            <h5 class="py-0 mb-0 cursor" (click)="backToLogin()"><u>Back to login</u></h5>
        </div>
        <div class="col-lg-6 col-md-4">
            <div class="d-flex justify-content-center">
                <img src="../../../assets/sheild-dynamic-color.png" class="side-icon" alt="">
            </div>
        </div>
    </div>
</form>
