<form autocomplete="off" [formGroup]="resetForm" (submit)="onRegister()">
  <h1>Reset password</h1>

  <mat-form-field class="d-block">
    <mat-label>Email</mat-label>
    <input
      name="login_email"
      type="email"
      matInput
      placeholder="mike@cooltech.co.za"
      formControlName="email"
    />

    <mat-error
      *ngIf="
        resetForm.controls['email'].hasError('email') &&
        !resetForm.controls['email'].hasError('required')
      "
      >Invalid email address</mat-error
    >
    <mat-error *ngIf="resetForm.controls['email'].hasError('required')"
      >Required</mat-error
    >
  </mat-form-field>

  <button
    mat-flat-button
    color="primary"
    [disabled]="!resetForm.valid"
    type="submit"
  >
    Reset password
  </button>

  <h5 class="py-0 mb-0 cursor" (click)="backToLogin()"><u>Back to login</u></h5>
</form>
